.error-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    width: 300px;
    height: 130px;
    background: #ff6666;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}