.form {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: coral;
    padding-bottom: 20px;
    margin: auto;
}

label {
    margin-top: 10px;
}

textarea {
    width: 80%;
    height: 90px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    resize: none;
}

input {
    width: 80%;
    padding: 15px;
    margin: 8px;
    border-radius: 4px;
    margin-top: 10px;
}

input:disabled {
    color: whitesmoke;
}

.custom-item {
    display: flex;
    align-items: center;
    width: 70%;    
    padding: 10px;
}

#netto_id {
    pointer-events: none;
}

button {
    width: 100px;
    background-color: coral;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}