.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3D4952;
    text-align: left;
    color: aliceblue;
}