.success-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    width: 300px;
    height: 120px;
    text-align: center;
    background: #5cd65c;
    border-radius: 4px;
    margin-bottom: 20px;
}